*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h4{
    font-weight: 500;
    color: #c7c6c6 !important;
}

